.drawer-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.2s;
    z-index: 1000;
}

.drawer {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    visibility: visible;
    transition: all 0.2s;
}

.hidden {
    visibility: hidden;
    transition: all 0.2s;
}