.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: .5rem 1rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
    height: 46px;
    max-width: 161px;
    &-blue {
        background-color: #717fe0;
        text-transform: uppercase;
        border-radius: 2.3rem;
        height: 46px;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #222;
        }
    }
}