.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    &__main {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: height 0.4s ease;
    }
    &__left {
        width: 50%;
        display: flex;
        align-items: center;
    }
    &__nav {
        display: flex;
        margin-left: 68px;
        &__item {
            margin-right: 28px;
            span {
                font-size: 1.4rem;
                line-height: 21px;
                font-weight: 500;
                color: $text-main-color;
                &:hover {
                    color: #6c7ae0;
                    transition: all 0.4s ease;
                }
            }
        }
    }
    &__icons {
        i {
            font-size: 26px;
            margin-left: 33px;
            cursor: pointer;
            &:hover {
                color: #6773c4;
                transition: all 0.4s ease;
            }
        }
    }
}

.shrink {
    background-color: #eee;
    .header__main {
        height: 70px;
    }
}
